body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  background: repeating-linear-gradient(
    90deg,
    white,
    white 2%,
    pink 2%,
    pink 9%
  );
  font-family: "Roboto Slab", serif;
}
.content {
  display: flex;
}
h4 {
  text-align: center;
  padding-top: 70px;
  font-family: "Barlow", sans-serif;
}
h1 {
  text-align: center;
  color: lightseagreen;
  font-family: "Roboto Slab", serif;
}
h3 {
  font-family: "Barlow", sans-serif;
  margin: 0 150px;
  text-align: center;
  font-size: medium;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-size: small;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}
.symbol {
  width: 170px;
  margin-left: 25px;
  margin-top: 100px;
}
svg {
  margin-left: 50px;
}

.symbol:hover {
  background-color: rgba(32, 178, 170, 0.8);
  color: white;
}
path:hover {
  fill: white;
}
